/node_modules
/public/storage
/storage/*
/vendor
/app/Providers/TelescopeServiceProvider.php
/env
.env
/config/*
/public/vendor/telescope
.phpunit.result.cache
Homestead.json
Homestead.yaml
composer.*
npm-debug.log
yarn-error.log
webpack.mix.js
